<template>
  <el-form
    class="detail-wrap d-block"
    v-loading="$store.state.loading.isShow"
    @submit.prevent="handleSubmitForm"
    :model="form"
    ref="REF_FORM"
    label-width="100px"
  >
    <div class="detail w-100">
      <div class="card mb-3">
        <div class="card-header">
          \{{ $i18n.global.t('Util.create') }}
        </div>
        <div class="card-body d-lg-flex flex-wrap">
          {{#each form}}
          <el-form-item
            :label="$i18n.global.t(inputForm.{{this.key}}.label)"
            :prop="inputForm.{{this.key}}.id"
            :rules="inputForm.{{this.key}}.rules"
            {{#if this.spec.memo}}
            class="col-12 px-2"
            {{else}}
            class="col-lg-6 col-xl-4 px-2"
            {{/if}}
          >
            {{> inputPartial}}
          </el-form-item>
          {{/each}}
          <input type="submit" class="no-show" >
        </div>
      </div>
    </div>
  </el-form>
</template>

<script lang='ts'>
import { defineComponent, reactive, toRefs, onMounted } from 'vue';
import { utilTools } from '@/modules/FPKG-20000-Util/prototypes/utilTools';
import ELFORM from '@/modules/FPKG-20000-Util/API/elForm/index';
import { useRouter } from 'vue-router';
import Create, { request } from './Service/Create';
import inputForm from './form';

export default defineComponent({
  name: '{{dashCase BASE_NAME}}--Create',
  setup() {
    const { proxy } = utilTools();
    const { REF_FORM, reset, submitForm } = ELFORM();
    const router = useRouter();
    const data = reactive({
      form: {
        {{#each form}}
        {{#isSwitch this.spec.options}}
        {{this.id}}: '{{this.spec.options.0.key}}',
        {{/isSwitch}}
        {{/each}}
      } as request,
      keepCreate: false,
    });

    /** 送出表單 */
    const handleSubmitForm = async () => {
      await submitForm();
      const getter = await Create(data.form);
      if (getter) {
        if (!data.keepCreate) {
          router.push('/{{BASE}}/lists');
        }
        resetForm();
        data.keepCreate = false;
      }
    };

    /** 清除表單 */
    const resetForm = () => {
      reset();
    };

    onMounted(() => {
      proxy.$bus.$on('saveAndGo', () => {
        handleSubmitForm();
      });

      proxy.$bus.$on('keepCreate', () => {
        data.keepCreate = true;
        handleSubmitForm();
      });
    });

    const refData = toRefs(data);

    return {
      ...refData,
      handleSubmitForm,
      REF_FORM,
      inputForm,
    };
  },
});
</script>
