<template>
  <div>
    <el-table
      v-loading="$store.state.loading.isShow"
      v-if="screenWidth > 767"
      :data="tableData"
      :height="contentSize.height"
      :width="contentSize.width"
      stripe
      key="pc"
      highlight-current-row
      @selection-change="handleSelectionChange"
      @sort-change="sortChange"
      fit
      border
      size="small"
    >
      <el-table-column type="selection" width="40" />
      {{#each form}}
      {{#if this.spec.options}}
      <el-table-column
        :label="$t(inputForm.{{this.key}}.label)"
        :prop="inputForm.{{this.key}}.id"
      >
        <template #default="prop">
          <status
            :value="prop.row[inputForm.{{this.key}}.id]"
            :options="inputForm.{{this.key}}.options"
          />
        </template>
      </el-table-column>
      {{else}}
      <el-table-column
        :label="$t(inputForm.{{this.key}}.label)"
        :prop="inputForm.{{this.key}}.id"
      />
      {{/if}}
      {{/each}}
      <el-table-column :label="$t('Util.operate')" width="200">
        <template #default="prop">
          <router-link
            v-if="CRUD & 4"
            :to="`/{{BASE}}/info/${prop.row.{{~key~}} }`"
            :title="$t('Util.view')"
            class="el-button el-button--info el-button--small"
          >
            <i class="fas fa-eye" />
          </router-link>
          <router-link
            v-if="CRUD & 2"
            :to="`/{{BASE}}/modify/${prop.row.{{~key~}} }`"
            :title="$t('Util.edit')"
            class="el-button el-button--success el-button--small"
          >
            <i class="fas fa-edit" />
          </router-link>
          <el-button
            v-if="CRUD & 1"
            @click="doDelete(prop.row)"
            :title="$t('Util.delete')"
            type="danger"
            size="small"
          >
            <i class="el-icon-delete"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 手機板 -->
    <div v-else>
      <div
        v-if="(!tableData || !tableData.length) && !$store.state.loading.isShow"
        class="p-3"
      >
        <div class="p-5 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h3 v-t="'Util.noData'" class="mb-3"></h3>
            <hr />
            <el-button @click="$router.go(-1)" type="primary">
              <i class="fa-fw fas fa-chevron-left"></i>
              \{{ $t('Theme.back') }}
            </el-button>
          </div>
        </div>
      </div>
      <el-card
        v-loading="$store.state.loading.isShow"
        style="margin: 5px"
        shadow="hover"
        v-for="(item, index) in tableData"
        :key="index"
      >
        <el-descriptions :column="1" border>
          {{#each form}}
          <el-descriptions-item :label="$t(inputForm.{{this.key}}.label)">
          {{#if this.spec.options}}
            <status
              :value="item[inputForm.{{this.key}}.id]"
              :options="inputForm.{{this.key}}.options"
            />
          {{else}}
            \{{ item[inputForm.{{this.key}}.id] }}
          {{/if}}
          </el-descriptions-item>
          {{/each}}
          <el-descriptions-item :label="$t('Util.operate')">
            <router-link
              v-if="CRUD & 4"
              :to="`/{{BASE}}/info/${item.{{~key~}} }`"
              :title="$t('Util.view')"
              class="el-button el-button--info el-button--small"
            >
              <i class="fas fa-eye" />
            </router-link>
            <router-link
              v-if="CRUD & 2"
              :to="`/{{BASE}}/modify/${item.{{~key~}} }`"
              :title="$t('Util.edit')"
              class="el-button el-button--success el-button--small"
            >
              <i class="fas fa-edit" />
            </router-link>
            <el-button
              v-if="CRUD & 1"
              @click="doDelete(item)"
              :title="$t('Util.delete')"
              type="danger"
              size="small"
            >
              <i class="el-icon-delete"></i>
            </el-button>
          </el-descriptions-item>
        </el-descriptions>
      </el-card>
    </div>
    <el-dialog
      v-model="dialogAdvSearch"
      :title="$t('Theme.AdvancedSearch')"
      custom-class="RWD-Dialog"
    >
      <advSearch @close="dialogAdvSearch = false" />
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, inject } from 'vue';
import inputForm from './form';
import Lists, { item, request } from './Service/Lists';
import Delete from './Service/Delete';
import advSearch from './advSearch.vue';
import { utilTools } from '@/modules/FPKG-20000-Util/prototypes/utilTools';
import { useRoute, useRouter } from 'vue-router';

export default defineComponent({
  name: '{{dashCase BASE_NAME}}--Lists',
  components: { advSearch },
  setup() {
    const data = reactive({
      tableData: [] as item[],
      selected: [] as item[],
      dialogAdvSearch: false,
    });
    const $route = useRoute();
    const $router = useRouter();
    const { screenWidth, proxy, CRUD } = utilTools();

    // table選擇的項目
    const handleSelectionChange = (val: item[]): void => {
      data.selected = val;
    };

    const getLists = async (params?: request) => {
      data.tableData = [];
      const getter = await Lists(params);
      if (getter && Array.isArray(getter.list)) {
        data.tableData = getter.list;
      }
    };

    const sortChange = (
      column: Record<string, string | number | Record<string, string | number>>
    ) => {
      proxy.$store.commit('sortChange', column);
    };

    const doDelete = async (item: item[]) => {
      const doDelete = await Delete(item);
      if (doDelete) {
        data.selected = [];
        getLists();
      }
    };

    onMounted(async () => {
      /** 從bus偵測刪除行為(複選) */
      proxy.$bus.$on('delete', () => {
        doDelete(data.selected);
      });

      proxy.$bus.$on('create', () => {
        $router.push('/{{BASE}}/create')
      });

      /** 從bus偵測刪除行為(複選) */
      proxy.$bus.$on('advSearch', () => {
        data.dialogAdvSearch = true;
      });

      const query = {
        ...$route.query,
        ...$route.params,
      };
      getLists(query);
    });
    const refData = toRefs(data);
    const contentSize = inject('contentSize');

    return {
      inputForm,
      ...refData,
      screenWidth,
      CRUD,
      getLists,
      contentSize,
      doDelete,
      handleSelectionChange,
      sortChange,
    };
  },
  beforeRouteUpdate(to, from, next) {
    next();
    const params = {
      ...to.query,
      ...to.params,
    };
    /** 取得搜尋參數: 從 query, params, user設定 進行整理 */
    this.getLists(params);
  },
});
</script>